header{
    background-color: rgb(161, 156, 156);

    margin-top: -200px;
    
}
.navbar{
    margin-right: -30px;
    margin-top: 0px;
    margin-left: -80px;
    margin-bottom: 0px;
    /* background-color: whitesmoke; */
}
#nav{
    margin-right: 50px;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    margin-top: 40px;
    
}

.codex{
    margin-top: 50px;
    margin-left: 60px;
    
}
.text{
    float:right;
    margin-top: -300px;
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
    margin-right: 100px;
    text-shadow:;
}
#icons{
    margin-bottom: auto;
    margin-top: 30px;
    margin-left: 100px;
}
body{
    background-color: #021831;
    padding-top: 0px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
}
#copy{
    clear: both;
    color: whitesmoke;
    float: none !important;
    background-color: rgb(161, 156, 156);
    height: 70px;
    text-align: center;
    padding-bottom: 0px;
    margin-top: -30px;
    margin-left:-50px;
    margin-right: -30px;
}
a{
    text-decoration: none;
}
.select{
    margin-right: 50px;
    float: right;
    width: 120px;
    border-radius: 20px;
    padding: 10px; 
    font-style: italic;
    margin-top: -20px;
    height: 80;
}